{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/stylesProf.css') }}">
    <meta charset="UTF-8">
    <title>Change Password · Cassowary Budget App</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap"
          rel="stylesheet">
    <link rel="icon"
          href="{{ url_for('static', filename='images/favicon.ico') }}"
          type="image/x-icon">
{% endblock %}
<body style="font-family: 'Raleway', sans-serif;">
    {% set current_page = "profile" %}  <!-- Set the current page variable -->
    {% include 'navbar.html' %}
</body>
{% block body %}
    <div class="sidebar">
        <ul>
            <li>
                <a href="{{ url_for('uploads.upload_csv') }}">Upload CSV</a>
            </li>
            <li>
                <a href="{{ url_for('uploads.upload_expenses') }}">Upload Individual Expense</a>
            </li>
            <li>
                <a href="{{ url_for('uploads.upload_investment') }}">Upload Investments</a>
            </li>
            <li>
                <a href="{{ url_for('uploads.upload_bills') }}">Upload Bills</a>
            </li>
            <li>
                <a href="{{ url_for('uploads.upload_goals') }}">Upload Goals</a>
            </li>
            <li>
                <a href="{{ url_for('views.budget_sharing') }}">Budget Sharing</a>
            </li>
            <li>
                <a href="{{ url_for('uploads.income') }}">Income</a>
            </li>
            <li>
                <a href="{{ url_for('auth.change_password', user_id=current_user.user_id) }}"
                   class="active">Change Password</a>
            </li>
            <li>
                <a href="{{ url_for('views.FAQ') }}">FAQs</a>
            </li>
        </ul>
    </div>
    <header>
        <h1>Change Password</h1>
    </header>
    <div class="container">
        <!--<img src="{{ url_for('static', filename='profile.png') }}"
     alt="Profile Picture">-->
        <form action="/change_password/{{ current_user.user_id }}", method="POST">
            {{ change_pswd_form.hidden_tag() }}
            <label for="old_pswd"></label>
            {{ wtf.form_field(change_pswd_form.old_pswd, id="old_pswd") }}
            <br>
            <label for="new_pswd"></label>
            {{ wtf.form_field(change_pswd_form.new_pswd, id="new_pswd") }}
            <br>
            <label for="new_pswd_2"></label>
            {{ wtf.form_field(change_pswd_form.new_pswd_2, id="new_pswd_2") }}
            <br>
            <input type="submit" value="Update">
            <br>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <p class="bg-info" style="padding: 15px;">
                        {% for msg in messages %}
                            {{ msg }}
                            <br>
                        {% endfor %}
                    </p>
                {% endif %}
            {% endwith %}
        </form>
    </div>
{% endblock %}
