<html>
<head>
  <meta charset="UTF-8">
  <title>Template · Cassowary Budget App</title>
  <!-- <link rel="stylesheet" type="text/css" href="/Static/css/ADDYOURCSSHERE.css">-->
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  <link rel="icon" href="{{url_for('static', filename='images/favicon.ico')}}" type="image/x-icon">
</head>
<body style="font-family: 'Raleway', sans-serif;">
  {% set current_page = 'calc' %}  <!-- Set the current page variable -->

  {% include 'navbar.html' %}
  <head>
    <title></title>
        <script>
           
        </script>
    </head>
    <body>
        <!-- Add your content here-->    
    </body>
</html>