{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/stylesUpEXP.css') }}">
    <meta charset="UTF-8">
    <title>Upload Bills · Cassowary Budget App</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap"
          rel="stylesheet">
    <link rel="icon"
          href="{{ url_for('static', filename='images/favicon.ico') }}"
          type="image/x-icon">
{% endblock %}
<body style="font-family: 'Raleway', sans-serif;">
    {% set current_page = "profile" %}  <!-- Set the current page variable -->
    {% include 'navbar.html' %}
</body>
{% block body %}
    <div class="sidebar">
        <ul>
            <li>
                <a href="{{ url_for('uploads.upload_csv') }}">Upload CSV</a>
            </li>
            <li>
                <a href="{{ url_for('uploads.upload_expenses') }}">Upload Individual Expense</a>
            </li>
            <li>
                <a href="{{ url_for('uploads.upload_investment') }}">Upload Investments</a>
            </li>
            <li>
                <a href="{{ url_for('uploads.upload_bills') }}" class="active">Upload Bills</a>
            </li>
            <li>
                <a href="{{ url_for('uploads.upload_goals') }}">Upload Goals</a>
            </li>
            <li>
                <a href="{{ url_for('views.budget_sharing') }}">Budget Sharing</a>
            </li>
            <li>
                <a href="{{ url_for('uploads.income') }}">Income</a>
            </li>
            <li>
                <a href="{{ url_for('auth.change_password', user_id=current_user.user_id) }}">Change Password</a>
            </li>
            <li>
                <a href="{{ url_for('views.FAQ') }}">FAQs</a>
            </li>
        </ul>
    </div>
    <header>
        <h1>Upload Bills</h1>
    </header>
    <div class="content">
        <form action="/upload_bills" method="POST">
            <div>Please input the details regarding your bill.</div>
            <br>
            <br>
            {{ bills_form.hidden_tag() }}
            <label for="bill_name"></label>
            {{ wtf.form_field(bills_form.bill_name, id="bill_name") }}
            <label for="bill_desc"></label>
            {{ wtf.form_field(bills_form.bill_desc, id="bill_desc") }}
            <label for="bill_due_date"></label>
            {{ wtf.form_field(bills_form.bill_due_date, id="bill_due_date") }}
            <label for="bill_options"></label>
            {{ wtf.form_field(bills_form.bill_options, id="bill_options") }}
            <div id = "custom_days" style="display: none;">
                <label for="bill_custom_freq"></label>
                {{ wtf.form_field(bills_form.bill_custom_freq, id="bill_custom_freq") }}
            </div>
            <script>
                const el = document.getElementById('bill_options');
                const box = document.getElementById('custom_days');
                el.addEventListener('change', function handleChange(event) {
                    if (event.target.value === 'Custom Days') {
                        box.style.display = 'block';
                    } else {
                        box.style.display = 'none';
                    }
                });
            </script>
            <button type="submit" class="button">Input Bills</button>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p class="bg-info" style="padding: 15px;">
                    {% for msg in messages %}
                        {{ msg }}
                        <br>
                    {% endfor %}
                </p>
            {% endif %}
        {% endwith %}
    </div>
{% endblock body %}
<!-- #class Bill(db.Model):
    
    # bill_id
    # user_id
    # bill_name
    # bill_description, optional comment for the user to add more details
    # bill_start_date, is this due date?
    # cycle_period - either fixed day of month or every x days
    -->
<!-- 
    {% for subfield in bills_form.bill_options %}
        <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
        </tr>
    {% endfor %}
-->
